# Hugging Face
HF_API_KEY=

# Twilio (WhatsApp Sandbox)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# Africa's Talking (SMS/USSD Sandbox)
AT_USERNAME=
AT_API_KEY=
AT_SHORTCODE=

# Anthropic
ANTHROPIC_API_KEY=

# Google Fact Check Tools API Key
GOOGLE_API_KEY=

# Firecrawl
FIRECRAWL_API_KEY=
